# <h1> user data</h1>
  

# <div class="row">
#   <% @user.each do |user| %>
#     <p>Name: <%= user.name %>, Email: <%= user.email %></p>

#   <% end %>
# </div>

<h1>Users</h1>

<div class="row">
  <% @data.each do |user| %>
    <p>Name: <%= user.name %>, Email: <%= user.email %></p>
    <!-- Add additional user data to display -->
  <% end %>
</div>

<%= link_to "Next Page"%>
