<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
    .btn{
        background-color: blue;
    }
    input{
        float: right
    }
    label{
        color:#6d6d6d;
        font-weight: 700;
    }
    .lnk{
        text-decoration: none;
    }
    </style>
  </head>

  <body>
  <h1 style= "text-align: center; margin-bottom: 100px">Registration Form</h1>
  <div style="margin:auto; width:25%; padding 10px; background-color: wheat; padding:15px">
  <%= form_for @user, url: user_path(@user), method: :post do |f| %>
  
  
  
      <%= f.label :name %>
      <%= f.text_field :name %><br><br><br>
  
      <%= f.label :email %>
      <%= f.email_field :email %><br><br><br>
  
      <%= f.label :password %>
      <%= f.password_field :password %><br><br><br>
      
      <%= f.label :Confirm_Password %>
      <%= f.password_field :password_confirmation %><br><br>
    
      <%= link_to "Upload Img", upload_path %></br></br>
      <%= f.submit "Sign Up" %>
    
      <%= link_to "log-in", login_path %>
      
  <% end %>
  </div>
  </body>
</html>


